<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--申明一个名为“log4net“的自定义配置节-->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <!--debug:设置为true，开启log4net的内部调试。-->
  <log4net debug="false">
    <appender name="InfoRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--param:设置Appender类中对应的属性的值-->
      <!--日志路径-->
      <param name= "File" value= "D:\Server_Log\消息\"/>
      <!--是否是向文件中追加日志-->
      <param name= "AppendToFile" value= "true"/>
      <!--是否只写到一个文件中-->
      <param name="StaticLogFileName" value="false" />
      <!--使用Unicode编码-->
      <Encoding value="UTF-8" />
      <!--最多产生的日志文件数，超过则只保留最新的n个。设定值value="－1"为不限文件数-->
      <param name= "MaxSizeRollBackups" value= "-1"/>
      <!--日志文件名格式为:2008-08-31.log-->
      <param name= "DatePattern" value= "yyyy-MM-dd&quot;.log&quot;"/>
      <!--按照何种方式产生多个日志文件(日期[Date],文件大小[Size],混合[Composite])-->
      <param name= "RollingStyle" value= "Date"/>
      <!--Layout控制输出格式-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
      <!--过滤设置，LevelRangeFilter为使用的过滤器。 -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ALL" />
        <param name="LevelMax" value="OFF" />
      </filter>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>

    <appender name="ErrorRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--param:设置Appender类中对应的属性的值-->
      <!--日志路径-->
      <param name= "File" value= "D:\Server_Log\错误\"/>
      <!--是否是向文件中追加日志-->
      <param name= "AppendToFile" value= "true"/>
      <!--是否只写到一个文件中-->
      <param name="StaticLogFileName" value="false" />
      <!--使用Unicode编码-->
      <Encoding value="UTF-8" />
      <!--最多产生的日志文件数，超过则只保留最新的n个。设定值value="－1"为不限文件数-->
      <param name= "MaxSizeRollBackups" value= "-1"/>
      <!--日志文件名格式为:2008-08-31.log-->
      <param name= "DatePattern" value= "yyyy-MM-dd&quot;.log&quot;"/>
      <!--按照何种方式产生多个日志文件(日期[Date],文件大小[Size],混合[Composite])-->
      <param name= "RollingStyle" value= "Date"/>
      <!--Layout控制输出格式-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
      <!--过滤设置，LevelRangeFilter为使用的过滤器。 -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ALL" />
        <param name="LevelMax" value="OFF" />
      </filter>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>

    <!--消息日志-->
    <logger name="InfoLog">
      <level value="all" />
      <appender-ref ref="InfoRollingLogFileAppender"/>
    </logger>

    <!--错误日志-->
    <logger name="ErrorLog">
      <level value="all" />
      <appender-ref ref="ErrorRollingLogFileAppender"/>
    </logger>
    
  </log4net>
</configuration>